html,
body {
    height: 100%;
}

body {
    background: url('../img/background.jpg') no-repeat;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}


.app-container {
    position: relative;
    max-width: 450px;
    width: 100%;
    padding: 25px;
    background: rgba(41, 31, 12, 0.6);
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.1);
}

.app-container h3 {
    margin: 0 0 25px;
    color: white;
}

/* New task */
.new-task-container {
    margin-bottom: 20px;
}

/* Tasks list */
.tasks-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Single task*/
.single-task {
    margin-bottom: 12px;
}


/*Stickers*/


.addNoteBtn {
    background-color: bisque;
    border-radius: 10px;
    font-size:20px;
    font-weight:300;
    height: 50px;
    width: 200px;
    position: absolute;
    top: 25px;
    left: 25px;
}
.addNoteBtn:hover{
    background-color: antiquewhite;
}


.sticker {
    padding-top: 20px;
    background: rgba(255, 254, 255, 0.5);
    min-height: 100px;
    min-width: 100px;
    position: absolute;
    left: 0;
    top: 0;
    border: 1px solid #34b399;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.sticker .bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background: #337ab7;
    width: 100%;
}

.sticker textarea {
    padding: 3px 10px;
    box-sizing: border-box;
    min-height: 100px;
    min-width: 100px;
    background: transparent;
    border: none;
}

.sticker .bar:hover {
    cursor: move;
    background: #3b8cd1;
}

.sticker:hover {
    z-index: 1;
}
